/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html,
body {
  height: 100%;
  font-size: 62.5%;
  font-size: 1.2rem;
  background-color: rgb(26, 26, 26);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
